extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  input#files(type='file', name='files[]', multiple='')
  output#list
